@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
  background-attachment: fixed;
  color: #354538;
}

a {
  text-decoration: none;
  color: #354548;
}

a:hover {
  text-decoration: none;
  color: black;
}

.app__container {
  padding-top: 50px;
}

.app__row {
  height: 90vh;
}

.side-component {
  background-color: #fff;
  height: 100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
  text-align: center;
}
.main-component {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
}

/* Sidebar */

.sidebar__avatar {
  height: 110px;
  width: 100px;
  object-fit: contain;
  border-radius: 30px;
}

.sidebar__icon {
  width: 25px;
  height: 25px;
}

.sidebar__name {
  font-family: Kaushan Script;
  margin: 20px 0;
  font-size: 1.7rem;
}

.sidebar__item {
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1.05rem;
  border-radius: 30px;
}

.sidebar__item:hover {
  font-weight: 700;
  background-color: #f1f1f2;
}

.sidebar__title {
  background-color: #f1f1f1;
  border-radius: 30px;
}

/* .sidebar__social-icons {
  background-color: #f1f1f1;
} */

.sidebar__contact {
  padding: 2px 0;
  margin: 20px -15px;
  text-align: center;
}

.sidebar__email {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
  border-radius: 30px;
  color: #fff;
  margin: 15px 25px 0px;
  cursor: pointer;
  transition: all 3s linear;
}

.sidebar__email:hover {
  transform: scale(1.2);
}

/* .sidebar__github:hover,
.sidebar__resume:hover {
  background-color: #f1f1f2;
} */

@media (max-width: 991px) {
  .main-component {
    margin: 30px 0;
  }
}

/* Navbar */

.navbar__items {
  display: flex;
}

.navbar__item {
  margin-right: 20px;
  text-decoration: none;
  color: #354358;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar__item:hover {
  background: -webkit-linear-gradient(#00f260, #0575e6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar__active {
  font-size: 2rem;
  font-weight: 700;
  color: #354358;
  border-bottom: 4px solid green;
}

/* About */
.about {
  margin: -35px;
  padding: 20px;
}

.about__intro {
  font-size: 1.1rem;
  padding: 20px;
  margin: 10px 0;
}

.about__container {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  padding: 30px 20px;
}

.about__heading {
  font-size: 25px;
  font-weight: 700;
  color: #263955;
  margin-left: 10px;
}

/* skillCard */

.skill-card {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 7px;
}

.skill-card__icon {
  width: 40px;
  height: 40px;
  margin: 7px;
}

.skill-card__body {
  margin-left: 15px;
}

.skill-card__title {
  font-weight: 700;
}

.skill-card__content {
  margin: 0;
  font-size: 0.9rem;
  color: #243f61;
}

/* Resume */

.resume {
  padding-top: 20px;
}

.resume-card__heading,
.resume-lan__heading {
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #354538;
}

.resume-card__body {
  margin-top: 10px;
}

.resume-card__title {
  font-weight: 700;
}

.resume-card__name {
  font-size: 1rem;
  padding-top: 0px;
}

/* Skill Bar */

.bar {
  width: 90%;
  background-color: #f1f2f3;
  border-radius: 20px;
  margin-bottom: 12px;
}

.bar__icon {
  width: 15px;
  height: 15px;
  padding-bottom: 2px;
  margin-bottom: 1px;
}

.bar__name {
  margin-bottom: 4px;
}

.bar__wrapper {
  background-image: linear-gradient(90deg, #00f260, #0575e6);
  border-radius: 20px;
  padding: 4px 14px;
  color: #fff;
}

/* Projects */

.projects {
  height: 90vh;
  padding-top: 30px;
  overflow-y: auto;
}

.projectCard__wrapper {
  margin: 10px 0;
  width: 100%;
  height: 100%;
  min-height: 160px;
}

.projectCard__image {
  width: 100%;
  height: 80%;
  border-radius: 30px;
  border: 1px solid #00f260;
  transition: transform 0.3s linear;
}

.projectCard__image:hover {
  transform: scale(1.05);
}

.projectCard__icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.projectCard__title {
  margin-top: 12px;
  font: size 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
